node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition deployment artifacts
ignition/deployments/

# Binary documents
*.docx

# External contract repos
oak-contracts/
